:root {
  --primary-text-color: #757575;
  --secondary-text-color: #ffffff;
  --title-color: #212121;
  --accent-color: #2196f3;
}

body {
  background-color: var(--secondary-text-color);
  color: var(--primary-text-color);
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-style: normal;
}

/* основной цвет текста #757575 */
/* вторичный цвет текста  #212121 */
/* акцент #2196F3 */
/* белый #ffffff */
/* вторичный цвет фона #2F303A #E5E5E5 #F5F4FA*/

/* утилиты */

.list {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}
/* стилизация header */

.header-container {
  display: flex;
  align-items: center;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.header-container nav {
  display: flex;
}

.header .contacts {
  display: flex;
  margin-left: auto;
}

.header .contacts li + li {
  margin-left: 50px;
}

.header .contacts a {
  color: var(--primary-text-color);
}

.header .contacts a:hover,
.header .contacts a:focus {
  color: var(--accent-color);
}

.header .logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;

  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-web {
  color: var(--accent-color);
}

.site-nav {
  display: flex;
}

.site-nav li + li {
  margin-left: 8px;
}

.site-nav a {
  display: block;
  font-weight: 500;
  padding-top: 32px;
  padding-bottom: 32px;

  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

.header .site-nav-studio {
  color: var(--accent-color);
}

.header .site-nav-portfolio {
  color: var(--accent-color);
}

.header .contacts a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

/* стилизация заголовков */

.features-list .title {
  margin-top: 0px;
  margin-bottom: 10px;

  font-weight: bold;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.section-title {
  margin-top: 0px;
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-color);
}

/* стилизация героя */

.hero {
  margin-bottom: 94px;
  background-color: #2f303a;
}

.hero-container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.button {
  display: inline-block;
  min-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 32px;
  padding-left: 32px;
  border: 1px solid transparent;
  border-radius: 4px;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  background-color: var(--accent-color);
  color: var(--secondary-text-color);
}

/* особенности */

.features {
  margin-bottom: 94px;
}

.features-container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.features-list {
  display: flex;
}

.features-list li {
  width: 270px;
}

.features-list li + li {
  margin-left: 30px;
}

.features p {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* our work */

.our-work {
  margin-bottom: 94px;
}

.our-work-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.our-work .list {
  display: flex;
}

.our-work li + li {
  margin-left: 30px;
}

/* our team */

.our-team .list {
  display: flex;
  text-align: center;
}

.our-team li + li {
  margin-left: 30px;
}

.our-team {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

.our-team-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.names {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.professions {
  margin-top: 0px;
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/* портфолио */

.portfolio-section {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.horizontal-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 34px;
}

.horizontal-buttons li + li {
  margin-left: 8px;
}

.horizontal-buttons li button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border: 1px solid transparent;
  border-radius: 4px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

li button:hover,
li button:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.cards li {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.cards li:nth-child(3n + 3) {
  margin-right: 0px;
}

.cards li:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.cards h2 {
  margin-top: 20px;
  margin-bottom: 4px;
  padding-left: 24px;
  padding-right: 24px;

  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.cards p {
  margin-top: 0;
  margin-bottom: 0px;
  padding-left: 24px;
  padding-right: 24px;

  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* футер */

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.footer .logo {
  display: block;
}

.footer .logo {
  margin-bottom: 20px;

  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo-studio {
  color: var(--secondary-text-color);
}

address {
  margin-bottom: 9px;

  font-style: normal;
  line-height: 0.7x;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.footer .contacts li + li {
  margin-top: 9px;
}

.footer .contacts a {
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer .contacts a:hover,
.footer .contacts a:focus {
  color: var(--accent-color);
}
